body {
    color: white;
    min-height: 100vh;
    background-color: black;
}

/* Header */

header {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    border-bottom: solid white 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header #nav {
    min-width: 75%;
    display: flex;
    justify-content: space-evenly;
}

header #logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav a {
    color: white;
    text-decoration: none;
}

/* Body */

body #heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body #content {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body #content .patents {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 38%;
    margin: 5%;
    border: solid transparent 1px;
    transition: 2s;
}

body #content .patents h2 {
    color: red
}

body #content .patents p {
    text-align: justify;
    line-height: 200%;
    padding: 5%;
}

body #content .patents:hover {
    border: solid white 1px;
    background: rgb(2, 0, 36);
    background: linear-gradient(144deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 52%, rgba(16, 52, 59, 1) 100%);
}

/* Footer */

#footer {
    display: flex;
    padding: 5%;
    padding-top: 0%;
    justify-content: center;
    align-items: center;
}

#social {
    display: flex;
    justify-content: center;
}

#social a {
    width: 4%;
    margin: 5%;
}

#social a img {
    width: 100%;
}

#footer-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#footer-nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#newsletter {
    min-width: 30%;
    height: 100%;
}

#newsletter form {
    display: flex;
    padding: 10%;
    flex-direction: column;
}

#newsletter form input[type=email] {
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

#newsletter form input[type=submit] {
    border-radius: 10%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

#credit {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {

    /* Header */

    header {
        display: flex;
        padding: 5px;
        justify-content: space-around;
        border-bottom: solid white 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 8px;
    }

    header #nav {
        display: flex;
        justify-content: space-evenly;
    }

    header #logo {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #nav a {
        color: white;
        text-decoration: none;
    }


    /* Body */

    body #heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body #content {
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    body #content .patents {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 90%;
        margin: 5%;
        border: solid transparent 1px;
        transition: 2s;
        font-size: smaller;
    }

    body #content .patents h2 {
        color: red
    }

    body #content .patents p {
        text-align: justify;
        line-height: 200%;
        padding: 5%;
    }

    body #content .patents:hover {
        border: solid white 1px;
        background: rgb(2, 0, 36);
        background: linear-gradient(144deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 52%, rgba(16, 52, 59, 1) 100%);
    }

    /* Footer */

    #footer {
        display: flex;
        flex-wrap: wrap;
        padding: 5%;
        padding-top: 0%;
        justify-content: center;
        align-items: center;
    }

    #footer-content {
        order: 2;
    }

    #social {
        display: flex;
        justify-content: center;
    }

    #social a {
        width: 10%;
        padding: 5%;
    }

    #social a img {
        width: 100%;
    }

    #footer-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    #footer-nav a {
        font-size: 10px;
        text-decoration: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #newsletter {
        order: 1;
        min-width: 80%;
        height: 100%;
    }

    #newsletter form {
        display: flex;
        padding: 10%;
        flex-direction: column;
    }

    #newsletter form input[type=email] {
        width: 100%;
        height: 25px;
        border: none;
        outline: none;
        font-size: 12px;
        border-radius: 15px;
        text-align: center;
    }

    #newsletter form input[type=submit] {
        border-radius: 10%;
        color: white;
        font-size: 12px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    #credit {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 500px) {

    /* Header */

    header {
        display: flex;
        padding: 5px;
        justify-content: space-around;
        border-bottom: solid white 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 5px;
    }

    header #nav {
        /* min-width: 60%; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    header #logo {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #nav a {
        color: white;
        text-decoration: none;
    }


    /* Body */

    body #heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body #content {
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    body #content .patents {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 90%;
        margin: 5%;
        border: solid transparent 1px;
        transition: 2s;
        font-size: smaller;
    }

    body #content .patents h2 {
        color: red
    }

    body #content .patents p {
        text-align: justify;
        line-height: 200%;
        padding: 5%;
    }

    body #content .patents:hover {
        border: solid white 1px;
        background: rgb(2, 0, 36);
        background: linear-gradient(144deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 52%, rgba(16, 52, 59, 1) 100%);
    }

    /* Footer */

    #footer {
        display: flex;
        flex-wrap: wrap;
        padding: 5%;
        padding-top: 0%;
        justify-content: center;
        align-items: center;
    }

    #footer-content {
        order: 2;
    }

    #social {
        display: flex;
        justify-content: center;
    }

    #social a {
        width: 10%;
        padding: 5%;
    }

    #social a img {
        width: 100%;
    }

    #footer-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    #footer-nav a {
        font-size: 10px;
        text-decoration: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #newsletter {
        order: 1;
        min-width: 80%;
        height: 100%;
    }

    #newsletter form {
        display: flex;
        padding: 10%;
        flex-direction: column;
    }

    #newsletter form input[type=email] {
        width: 100%;
        height: 25px;
        border: none;
        outline: none;
        font-size: 12px;
        border-radius: 15px;
        text-align: center;
    }

    #newsletter form input[type=submit] {
        border-radius: 10%;
        color: white;
        font-size: 12px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    #credit {
        display: flex;
        justify-content: center;
    }
}