body {
    color: white;
    min-height: 100vh;
    background-color: black;
}

/* Header */

header {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    border-bottom: solid white 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header #nav {
    min-width: 60%;
    display: flex;
    justify-content: space-evenly;
}

header #logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav a {
    color: white;
    text-decoration: none;
}

/* Body */

body #content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;  
}

body #heading{
    text-align: center;
    border-bottom: solid white 1px;  
}

body #content .projects{
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 40%;
    padding: 5%;
    line-height: 200%;
}
body #content .projects:hover{
    background: rgb(2, 0, 36);
    background: linear-gradient(144deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 52%, rgba(16, 52, 59, 1) 100%);
}
body #content .projects h2{
    color: red;
    text-align: center;
}

/* Footer */

#footer {
    display: flex;
    padding: 5%;
    padding-top: 0%;
    justify-content: center;
    align-items: center;
}

#social {
    display: flex;
    justify-content: center;
}

#social a {
    width: 4%;
    padding: 5%;
}

#social a img {
    width: 100%;
}

#footer-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#footer-nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#newsletter {
    min-width: 30%;
    height: 100%;
}

#newsletter form {
    display: flex;
    padding: 10%;
    flex-direction: column;
}

#newsletter form input[type=email] {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

#newsletter form input[type=submit] {
    border-radius: 10%;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

#credit {
    display: flex;
    justify-content: center;
}